/*leaveWordMore*/
#leaveWorMorHead p{
	text-align: center;
	margin: 0;
}
#leaveWorMorHead img{
	width: 4em;
	height: 4em;
	border-radius: 90px;
}
.LeaWorMorBackgro{
	background-color: #f8f8f8;
	margin: 5%;
}
#leaveWorMorTitle{
	height: 2em;
}
#leaveWorMorTitle label{
	float: left;
	height: 2em;
	line-height: 2em;
	margin-left: 5%;
}
#leaveWorMorContent{
	padding: 2%;
}
#leaveWorMorOther{
	padding: 2%;
}
#leaveWorMorOther p{
	margin: 0;
	margin-bottom: 1%;
}
#leaveWorMorTime{
	padding-right: 6%;
	text-align: right;
}
