.addProFile  {
  position: relative; overflow: hidden; 
  
}
.addProFile input {
    position: absolute; left: 0px; top: 2em; opacity: 0; -ms-filter: 'alpha(opacity=0)'; 
}
.addProFile :hover {
   
}

.addProFile {
	text-align: center;
}
.addProFile label{
	text-align: left;
}

/*leaveWord1*/
#leaveWordNav{
	height: 2.3em;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
	white-space: nowrap;
	overflow: hidden;
	overflow-x: scroll; /* 1 */
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-overflow-scrolling: touch; /* 2 */
	text-align: justify; /* 3 */
	&::-webkit-scrollbar {
	display: none;
	}
}
.leaveWordNavTwoLevelContainer div{
	display: inline-block;
    height: 2.3em;
    text-align: center;
    line-height: 2em;
    width: 20%;

}
/*common myOther*/
/*我的订单*/
.graybody{
	background-color: rgba(240,240,240,0.5);
	
}
.myOrderList{
	margin-top: 3%;
    width: 100%;
  
    background-color: white;
}
.myOrderList label:nth-child(1){
	padding: 2%;
}
.myOrderList label:nth-child(1) img{
	width: 1em;
}
.myOrderList label:nth-child(1) span{
	position: relative;
	top: -0.1em;
}
.myOrderList label:nth-child(1) span:nth-child(3){
	float: right;
	color: red;
}
.myOrderList div{
	background-color: rgba(240,240,240,0.5);
	height: 3em;
}
.myOrderList div{
 height: 6.5em;
}
.myOrderList div p{
	float: left;
	margin: 3%;
}
.myOrderList div p:nth-child(1){
	width: 20%;
}
.myOrderList div p:nth-child(1) img{
	width:5em;
	height: 5em;
}
.myOrderList div p:nth-child(2){
	width: 50%;
}
.myOrderList div p:nth-child(3) label{
	text-align: right;
}

/*supplier addProduct*/
#foodListOne{
	position: absolute;
	top: 13em;

}
#foodListOne ul{
	border-radius:10px;
	box-shadow:0px 0px  10px #aaaaaa;
	padding: 0;
	width: 14.1em;
	margin-left:20%;
}
#foodListOne li{
	width:14em ;
	text-align: center;
	border: 1px solid #dae9ee;
	background-color: white;
	height: 2.5em;
	line-height: 2.5em;	
}
#foodListOne li:first-child{
	border-radius: 10px 10px 0px 0px;
	
}
#foodListOne li:last-child{
	border-radius: 0px 0px 10px 10px;
}


#foodListTwo{
	position: absolute;
	top: 17em;

}
#foodListTwo ul{
	border-radius:10px;
	box-shadow:0px 0px  10px #aaaaaa;
	padding: 0;
	width: 14.1em;
	margin-left:20%;
}
#foodListTwo li{
	width:14em ;
	text-align: center;
	border: 1px solid #dae9ee;
	background-color: white;
	height: 2.5em;
	line-height: 2.5em;	
}
#foodListTwo li:first-child{
	border-radius: 10px 10px 0px 0px;
	
}
#foodListTwo li:last-child{
	border-radius: 0px 0px 10px 10px;
}
/*myConpany*/
#ConpayCountry {
	position: absolute;
	top: 20em;

}
#ConpayCountry ul{
	border-radius:10px;
	box-shadow:0px 0px  10px #aaaaaa;
	padding: 0;
	width: 14.1em;
	margin-left:20%;
}
#ConpayCountry li{
	width:14em ;
	text-align: center;
	border: 1px solid #dae9ee;
	background-color: white;
	height: 2.5em;
	line-height: 2.5em;	
}
#ConpayCountry li:first-child{
	border-radius: 10px 10px 0px 0px;
	
}
#ConpayCountry li:last-child{
	border-radius: 0px 0px 10px 10px;
}
/*conpanyMessage*/
.conpanyMessGray label{
	color:gray;
}
.conpanyMessGray p{
	font-weight: 300;
	font-size:1.1em;
	color: black;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}
.conpanyMessGray hr{
	margin-bottom: 5%;
}

















